<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>

    <% @user.each do |user| %>
      <div class="users-index-item">

        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>

        <div class="user-right">
          <%= link_to(user.name,"/users/#{user.id}") %>
          <% if @current_user.id == user.id %>
            <%= link_to(user.board,"/users/#{user.id}/board_edit") %>
          <% else %>
            <%= user.board %>
          <% end %>
        </div>

      </div>

    <% end %>
  </div>
</div>
